In [ ]:
num = int(input("enter first number"))
num2 = int(input("enter second number"))
if num>=num2:
  print("num is largest number")

elif num>=num2:
  print("num2 is the smallest number")

enter first number52
enter second number12
num is largest number

In [ ]:
print

In [ ]:
num=int(input())
if num %5==0 and num %7==0:

  print("number is divisible by 5 and 7")

else:
  print("number is not  divisible by 5 & 7 ")

14
number is not  divisible by 5 & 7

In [ ]:
if num %7==0:
  num = int(input())

  print("number is divisible by 7")
elif num %5==0:
  num=int(input())

  print("number is divided by 5")

49
number is divided by 5

In [ ]:
num=int(input())
if num %5==0 and num %7==0:

  print("number is divisible by 5 and 7")

else:
  print("number is not  divisible by 5 & 7 ")

35
number is divisible by 5 and 7

In [ ]:
year =int(input('enter a year'))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print("leap year")
else:
    print("not leap year")
    print("not leap year")

enter a year 2008
leap year

In [ ]:
num = int(input("enter a marks"))
if num>=90:
  print("grade A")
elif num==80:
  print("grade B")
elif num>=70:
    print("grade C")
elif num >=60:
  print("grade D")
else :
  print("grade E")

enter a marks225
grade A

In [ ]:
gender = input()

if gender=="M" or gender =='f':
   print("gender")
else :
  print("not valid")

g
not valid

In [ ]:
gender = input()

if gender=="M" or gender =='f':
   print("gender")
else :

  print("not valid")

M
gender

In [ ]:
# ERITE A PROGRM TO CHECK NUMBER BEETWEEN 1 TO 100

In [ ]:
num = int(input(("Enter a number :")))


if 1<= num <=100:


          print("number is beet 1 and 100")
else :

         print("number is not  beet 1 and 100")

Enter a number : 565
number is not  beet 1 and 100

In [ ]:
i =int(input(("Enter a num")))


if 1<=i<=100 :


       print("the num is beet 1 to 100")
else :

       print("num is not bet 1 to 100")

Enter a num 45
the num is beet 1 to 100

In [ ]:
angle1: ("Enter The first angle of the triangle")
angle2: (" Enter The second angle of the triangle")
angle3: ("Enter third angle of the triangle")

if angle1 + angle2 + angle3 == 180:
    print("True")
else :
    print("false")

NameError: name 'angle1' is not defined

In [72]:
angle1 = float(input("Enter the first angle: "))
angle2 = float(input("Enter the second angle: "))
angle3 = float(input("Enter the third angle: ")

if is_valid_triangle(angle1, angle2, angle3):

  print("The triangle is valid.")
else:

  print("The triangle is not valid.")

SyntaxError: '(' was never closed (<ipython-input-72-76b95c180390>, line 3)

In [76]:
angle1 = float(input("Enter the first angle: "))
angle2 = float(input("Enter the second angle: "))
angle3 = float(input("Enter the third angle: "))

if is_valid_triangle (angle1, angle2, angle3):

  print("The triangle is valid.")
else:

  print("The triangle is not valid.")

  print("The triangle is valid.")

Enter the first angle: 545
Enter the second angle:

ValueError: could not convert string to float: ''

In [ ]:
A train ticket fare is determined as follows:
   - Age < 5: Free
   - Age 5-18: 50% of full fare
   - Age 18-60: Full fare
   - Age 60+: 30% discount on full fare
   - Ask the user for their age and print the applicable fare for a ₹500 ticket.

In [77]:
age = int(input("Enter your age: "))
full_fare = 500

if age < 5:
  fare = 0
elif age >= 5 and age <= 18:
  fare = full_fare * 0.5
elif age > 18 and age <= 60:
  fare = full_fare
else:
  fare = full_fare - (full_fare * 0.3)

print("Your applicable fare is: ₹", fare)

Enter your age: 12
Your applicable fare is: ₹ 250.0

In [87]:
salary = float(input("Enter the employee's salary: "))

if salary < 50000:
  bonus = salary * 0.10
else:
  bonus = salary * 0.05

print("The bonus amount is:  ₹", bonus)

Enter the employee's salary: 5000000
The bonus amount is:  ₹ 250000.0

In [88]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))


sorted_numbers = sorted([num1, num2, num3])

print("Numbers in ascending order:", sorted_numbers)

Enter the first number: 2
Enter the second number: 5
Enter the third number: 6
Numbers in ascending order: [2, 5, 6]